.loader-container {
    height: 100vh;
    width: 100vw;
    background: transparent !important;
}

.loader-spin {
    animation: spin 1s linear infinite;
    color: #3D51D2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}