body {
  margin: 0;
  font-family: sans-serif;
  outline: none !important;
}

* {
  padding: 0;
  margin: 0;
}

html, body, #root {
  background: transparent !important;
}


.bg-color-btn {
    background: linear-gradient(135deg, #3D51D2, #8C49CE);
}